/* 

.preloader ,.split-overlay 
 {
   position: fixed;
   top: 0;
   width: 100vw;
   height: 100svh;
   background-color: #000235;
   color: #fff;
 }
.homepage-title-intro h1
{
  font-size: 8rem;
}
.outro-title .circle-logo
{
      width: 100px;
      height: 100px;
      background-color:#fff;
      border-radius: 50%;
      color: black;
        display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-top: 20px;
     
} */
/* @keyframes rotatecircle {
  0% {
      transform: rotate(0deg);
  }
  100%
  {
     transform: rotate(360deg);
  }
}
.preloader
{
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.split-overlay{
   z-index: 1;
   display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-title-intro .intro-title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.homepage-title-intro .outro-title
{
     position: absolute;
     top: 50%;
    left: calc(50% + 20rem);
     transform: translate(-50%,-50%);
    text-align: center;
}
.home-page-container
{
   position: relative;
   width: 100%;
   height: 100%;
   min-height: 100svh;
   clip-path: polygon(0 48%, 0 48% , 0 52% , 0 52%);
   background-color: #07083d;
  background: linear-gradient(90deg, #845ec288, #ffffff00);

   z-index: 3;
   position: fixed;
   backdrop-filter: blur(40px);
   top: 0;

} */

.pages-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-top: 330px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: -999;
  opacity: 0.8;
}

.pages-circle-container svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.pages-circle-container .gradients-containers {
  filter: url(#goo) blur(90px);
  width: 100%;
  height: 100%;
}
.pages-circle-container .g1 {
  position: absolute;
  width: 1500px;
  height: 1500px;
  opacity: 0.9;
  overflow: hidden;
}
.pages-circle-container .g2 {
  position: absolute;
  width: 1200px;
  height: 1200px;
  opacity: 1;
  overflow: hidden;
}
.pages-circle-container .g1 {
  background: radial-gradient(
      circle at center,
      rgb(171, 217, 217, 0.8) 0,
      rgb(171, 217, 217, 0) 50%
    )
    no-repeat;
  right: -250px;
  animation: moveInSquare1 50s linear infinite;

  bottom: -500px;
}
.pages-circle-container .g2 {
  background: radial-gradient(
      circle at center,
      rgb(207, 162, 247, 0.8) 0,
      rgb(207, 162, 247, 0) 50%
    )
    no-repeat;
  right: -350px;
  bottom: -100px;
  animation: moveInSquare2 50s linear infinite;
}

@keyframes moveInSquare1 {
  0% {
    right: -250px;
    bottom: -500px;
  }
  20% {
    right: -50px;
    bottom: -500px;
  }
  40% {
    right: 0px;
    bottom: -700px;
  }
  50% {
    right: 100px;
    bottom: -1000px;
  }
  80% {
    right: -200px;
    bottom: -700px;
  }
  100% {
    right: -250px;
    bottom: -500px;
  }
}
@keyframes moveInSquare2 {
  0% {
    right: -350px;
    bottom: -100px;
  }
  40% {
    right: -350px;
    bottom: -500px;
  }
  80% {
    right: -250px;
    bottom: -500px;
  }
  100% {
    right: -350px;
    bottom: -100px;
  }
}
.circle-bg1 {
  position: absolute;
  top: -100px;
  left: 200px;
  width: 1000px;
  height: 100px;
  background: #abd9d9;
  opacity: 0.6;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -99;
}
.hp-last-section {
  position: relative;
}
.circle-bg-2 {
  position: absolute;
  top: 00px;
  left: 00px;
  width: 1000px;
  height: 300px;
  background: #9696ee;
  opacity: 0.2;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -900;
}
.circle-bg-3 {
  position: absolute;
  top: 00px;
  right: 0px;
  width: 1000px;
  height: 300px;
  background: #cfa2f7;
  opacity: 0.35;
  filter: blur(100px);
  z-index: -900;
}

.circle-bg-4 {
  position: absolute;
  bottom: -100px;
  left: -200px;
  width: 1000px;
  height: 300px;
  background: #9696ee;
  opacity: 0.2;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -900;
}
.circle-bg-5 {
  position: absolute;
  top: -500px;
  left: 00px;
  width: 1000px;
  height: 300px;
  background: #9696ee;
  opacity: 0.3;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -900;
}
.circle-bg-6 {
  position: absolute;
  top: 00px;
  right: 0px;
  width: 1000px;
  height: 400px;
  background: #cfa2f7;
  opacity: 0.2;
  filter: blur(100px);
  z-index: -900;
}
/* First section Start */

.homepage-overall-container {
  width: 100%;
  position: relative;
}
.hp-third-section,
.hp-second-section,
.hp-third-section,
.hp-fourth-section,
.hp-seventh-section,
.hp-fiveth-section {
  padding: 0rem 8rem;
}
.hp-seventh-section {
  position: relative;
}
.hp-second-section {
  margin-top: 150px;
}
.hp-fourth-section {
  margin-top: 150px;
}
.hp-fiveth-section {
  margin-top: 150px;
}
.hp-sixth-section {
  margin-top: 200px;
}

.hp-first-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 8rem;
  width: 100%;
  position: relative;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 6.5rem;
  overflow: hidden;
}
.hp-first-section::after {
  content: "";
  position: absolute;
  padding: 1px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    #cfa2f7 50%,
    transparent 100%
  );
}
.hp-first-section h1 {
  font-size: 75px;
  width: 70%;
}
.hp-first-section h1 span {
  color: #f0f0f0;
  font-style: italic;
}
.hp-first-section p {
  font-size: 20px;
  width: 50%;
  font-weight: 300;
  line-height: 32px;
  color: hsl(0, 0%, 100%);
}
.hp-first-section .btn {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.hp-first-section .btn .explore-btn {
  padding: 14px 25px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
.hp-first-section .btn .get-free-btn {
  padding: 16px 32px;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(
    90deg,
    hsla(240, 63%, 63%, 0.4) 0%,
    rgba(255, 255, 255, 0)
  );
  /* z-index: 1; */
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}
.hp-first-section .btn .get-free-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #845ec288, #ffffff00);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.hp-first-section .btn .get-free-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.35);
}

/* second section */
.hp-second-section {
  display: flex;
  width: 100%;
  gap: 150px;
  position: relative;
}

.blur-bg-circle {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: #abd9d9;
  animation-delay: 0s;
  opacity: 0.5;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -10;
  animation: floatCircle1 20s infinite ease-in-out;
}
.secondsec-left {
  position: sticky;
  top: 120px;
  height: 100vh;
  width: 100%;
  z-index: 2;
}
.hp-second-section .secondsec-left .outside-box {
  min-height: 500px;
  max-width: 96%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(35px);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.hp-second-section .secondsec-left .inside-box {
  min-height: 505px;
  background-color: rgba(255, 255, 255, 1);
  /* background-image: url('../assets/service.gif'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -160px 0px;
  backdrop-filter: blur(35px);
  border-radius: 20px;
}
.hp-second-section .secondsec-left .inside-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}
.hp-second-section .secondsec-right {
  width: 100%;
  overflow: hidden;
}
.hp-second-section .secondsec-right .heading-tag {
  font-size: 35px;
  margin-top: 30px;
  line-height: 65px;
}
.heading-tag h2 {
  overflow: hidden;
  display: inline-block;
}
.secondsec-right .heading-tag span {
  color: #e2e2e2;
  font-style: italic;
}
.secondsec-right .all-service {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 210px;
}
.service-card {
  position: relative;
  margin-top: 50px;
  width: 100%;
  /* height: 552px; */
  padding: 45px;
  padding-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
  backdrop-filter: blur(40px);
  cursor: pointer;
}

.service-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(0deg, #845ec288, #ffffff00);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.service-card .service-content .heading {
  display: flex;
  align-items: center;
  gap: 20px;
}
.service-card .service-content .heading .circle-logo {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  backdrop-filter: blur(40px);
  z-index: 1;
  cursor: pointer;
  position: relative;
}
.service-content .heading .circle-logo::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(120deg, #9167d5ef, #ffffff00) 40%;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.service-card .service-content .heading h2 {
  font-size: 25px;
  font-weight: 800;
}
.service-card .service-content .sub-heading {
  font-size: 18px;
  font-weight: 200;
  color: #d1d1d1;
  padding: 35px 5px;
  padding-bottom: 0px;
}
.service-card .service-content .type-p {
  font-size: 18px;
  font-weight: 200;
  color: #d1d1d1;
  padding: 35px 5px;
  padding-bottom: 0px;
}
.service-card .service-content .type-p span {
  color: white;
  font-weight: 300;
}
.service-content .benefits {
  padding: 35px 5px;
  padding-bottom: 0px;
}
.service-content .benefits div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 13px;
  padding: 10px 0px;
}
.service-content .benefits div p {
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.service-content .benefits div .check-logo {
  color: #00aaff;
  font-size: 21px;
}
.service-content .price-duration {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  padding: 35px 0px;
  padding-bottom: 0px;
}
.service-content .price-duration .price {
  background: hsla(0, 0%, 100%, 0.1);
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.278);
  backdrop-filter: blur(40px);
}
.service-content .price-duration .price span,
.service-content .duration span {
  color: #d1d1d1;
}
.service-content .duration {
  font-size: 18px;
}

/* Second Section end */ /* services Section end */

/* third Section start */ /* whychooose Section Start */
.hp-third-section {
  position: relative;
  /* width: 100%; */
  overflow: visible; /* allow children like circle-bg1 to overflow */
  z-index: 1;
}

/* fourth Section start */ /* client Section Start */

.hp-fourth-section {
  position: relative;
}
.hp-fourth-section .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}
.hp-fourth-section .heading .sub-heading {
  font-size: 19px;
  color: #eeee;
  letter-spacing: 0.5px;
}

.client-tag {
  font-weight: 500;
  font-size: 23px;
}

.hp-fourth-section .client-boxall {
  width: 100%;
  max-width: 1210px;
  margin-top: 80px;
  overflow: hidden;
  padding: 10px 50px 10px 40px;
}
.hp-fourth-section .boxs {
  width: 100%;
  max-width: 500px;
  min-height: 250px;
  padding: 35px 20px 35px 30px;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  backdrop-filter: blur(40px);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.boxs-card {
  opacity: 0.6;
  position: absolute;
  top: 10pc;
}

.hp-fourth-section .boxs::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  background: linear-gradient(
    0deg,
    rgb(141, 141, 218, 0.9) 0%,
    rgb(141, 141, 218, 0.1),
    #ffffff00
  );
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.hp-fourth-section .boxs::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(
    0deg,
    rgb(141, 141, 218, 0.3) 0%,
    rgba(255, 255, 255, 0)
  );
  border-radius: 20px;
  z-index: -1;
}
.hp-fourth-section .boxs .profile {
  display: flex;
  align-items: center;
  gap: 13px;
}
.hp-fourth-section .boxs .profile .logo {
  width: 60px;
  height: 60px;
  background-color: #d3d3d3;
  border-radius: 50%;
}
.hp-fourth-section .boxs .profile .profile-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hp-fourth-section .boxs .profile .p-heading {
  font-size: 21px;
  font-weight: 500;
}
.hp-fourth-section .boxs .profile .p-sub-heading {
  font-size: 16.5px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #ccc;
}
.hp-fourth-section .boxs .para-descrip {
  font-size: 15.5px;
  width: 100%;
  max-width: 400px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #ccc;
  line-height: 28px;
  padding: 0 10px;
}
.hp-fourth-section .boxs .stars {
  color: rgb(255, 225, 0);
  padding: 0 10px;
  font-size: 20px;
  display: flex;
  gap: 10px;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 70px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #cfa2f7f5;
  transform: scale(1.4);
}
.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(207, 162, 247, 0.2);
  padding: 5px;
  border-radius: 50%;
  color: rgba(255, 255, 255);
  font-size: 70px;
  transition: all 0.3s ease;
}

.swiper-button-prev-custom {
  left: 10px;
}

.swiper-button-next-custom {
  right: 10px;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  background-color: rgba(207, 162, 247);
}

/*  hp-fiveth-section */

.hp-fiveth-section {
  width: 100%;
  position: relative;
}
.hp-fiveth-section .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hp-fiveth-section .heading h2 {
  font-size: 50px;
  width: 60%;
  line-height: 65px;
  letter-spacing: 0.5px;
  text-align: center;
}
.hp-fiveth-section .heading p {
  font-size: 20px;
  width: 70%;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 20px;
  color: #ececec;
}
.hp-fiveth-section span {
  font-style: italic;
}
.hp-fiveth-section .steps-all {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 60px;
}
.hp-fiveth-section .steps {
  width: 100%;
  position: relative;
  padding: 15px;
  padding-left: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05),
    transparent 100%
  );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  cursor: pointer;
  z-index: 1;
  /* overflow: hidden;  */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.step-animate {
  width: 100%;
  /* opacity: 0; */
  transform: translateY(50px);
  will-change: transform, opacity;
}
.hp-fiveth-section .steps::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #cfa2f79e, #ffffff00 60%);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.hp-fiveth-section .steps .step-tag {
  padding: 6px 20px;
  position: absolute;
  top: 10px;
  border-radius: 10px;
  font-size: 19px;
}
.hp-fiveth-section .steps .s-content {
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hp-fiveth-section .steps .s-content .c-heading {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.hp-fiveth-section .steps .s-content .c-sub-heading {
  max-width: 90%;
  letter-spacing: 1px;
  line-height: 35px;
  font-weight: 200;
  font-size: 18px;
  color: #ccc;
}
.hp-fiveth-section .steps .down-arrow-icon {
  font-size: 25px;
  margin-right: 20px;
  transition: transform 0.5s ease;
}
.hp-fiveth-section .steps .step-tag::after {
  border-radius: 10px;
}
.hp-fiveth-section .steps {
  transition: all 0.5s ease-in;
  /* overflow: hidden; */
}

.hp-fiveth-section .steps.expanded {
  padding-bottom: 40px;
}

.hp-fiveth-section .c-sub-heading {
  display: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.hp-fiveth-section .c-sub-heading.visible {
  max-height: 500px;
  opacity: 1;
  display: block;
}

.down-arrow-icon.rotated {
  transform: rotate(45deg);
}

/* sixeth Section start */ /* our-partner Section end */

.hp-sixth-section {
  width: 100%;
  height: 400px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.05) 50%,
    transparent 100%
  );
  color: white;
  backdrop-filter: blur(50px);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.02);
}
.hp-sixth-section::before,
.hp-sixth-section::after {
  content: "";
  position: absolute;
  padding: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    #9696ee 50%,
    transparent 100%
  );
}
.hp-sixth-section::before {
  top: 0;
}
.hp-sixth-section::after {
  bottom: 0;
}

.hp-sixth-section .partner-tag {
  padding: 13px 30px;
  font-weight: 500;
  margin-top: 50px;
}
.partner-box-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.hp-sixth-section .partner-box-all {
  display: flex;
  gap: 70px;
  margin-top: 80px;
  width: max-content;
  animation: scrollLeft 20s linear infinite;
}
.hp-sixth-section .partner-box {
  width: 230px;
  height: 110px;
  border-radius: 20px;
  background-color: white;
  flex-shrink: 0;
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* media Queriry */

@media screen and (max-width: 1200px) {
   .circle-bg1,
  .circle-bg-2,
  .circle-bg-3,
  .circle-bg-4,
  .circle-bg-5,
  .circle-bg-6 {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hp-third-section,
  .hp-second-section,
  .hp-third-section,
  .hp-fourth-section,
  .hp-seventh-section,
  .hp-fiveth-section {
    padding: 0rem 4rem;
  }
  .hp-first-section {
    gap: 50px;
    padding: 0px 4rem;
    padding-top: 120px;
    padding-bottom: 5rem;
    overflow: hidden;
  }
.hp-second-section {
  display: flex;
  width: 100%;
  gap: 100px;
  position: relative;
}
}
@media screen and (max-width: 900px) {
  .pages-circle {
    opacity: 0.35;
  }
  .circle-bg1,
  .circle-bg-2,
  .circle-bg-3,
  .circle-bg-4,
  .circle-bg-5,
  .circle-bg-6 {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .circle-bg-5 {
    height: 100%;
    z-index: -999;
    opacity: 0.2;
  }
  .homepage-overall-container {
    width: 100%;
    position: relative;
  }
  .hp-first-section,
  .hp-third-section,
  .hp-second-section,
  .hp-third-section,
  .hp-fourth-section,
  .hp-seventh-section,
  .hp-fiveth-section {
    padding: 0rem 5rem;
  }
  .hp-second-section {
    margin-top: 100px;
  }
  .hp-fourth-section {
    margin-top: 100px;
  }
  .hp-fiveth-section {
    margin-top: 100px;
  }
  .hp-sixth-section {
    margin-top: 150px;
  }

  /* First--section */
  .hp-first-section {
    gap: 50px;
    padding: 0px 5rem;
    padding-top: 120px;
    padding-bottom: 5rem;
    overflow: hidden;
  }
  .hp-first-section h1 {
    font-size: 60px;
    width: 100%;
  }
  .hp-first-section p {
    font-size: 20px;
    width: 95%;
    padding-top: 30px;
    font-weight: 300;
    line-height: 32px;
    color: hsl(0, 0%, 100%);
  }
  .hp-first-section .btn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .hp-first-section .btn .explore-btn {
    text-align: center;
  }
  .hp-first-section .btn .explore-btn {
    font-size: 20px;
  }
  .hp-first-section .btn .get-free-btn {
    font-size: 20px;
  }

  /* Second Section */
  .hp-second-section {
    display: flex;
    flex-direction: column;
  }
  .secondsec-left {
    display: none;
    position: absolute;
  }
  .hp-second-section .secondsec-right .heading-tag {
    font-size: 35px;
    line-height: 70px;
  }
  .secondsec-right .all-service {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }

  /* third seciton */
  .hp-third-section {
    margin-top: 100px;
    position: relative;
  }

  /* fourth Section */
  .hp-fourth-section .heading .sub-heading {
    font-size: 19px;
  }
  .hp-fourth-section .slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hp-fourth-section .client-boxall {
    margin-top: 70px;
    padding: 0;
    padding-bottom: 10px;
  }
  .hp-fourth-section .boxs {
    padding: 40px;
    max-width: 100%;
  }
  .hp-fourth-section .boxs .para-descrip {
    max-width: 100%;
  }
  .custom-pagination {
    margin-top: 30px;
  }
  .custom-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  /* hp- fiveth--section-*/
  .hp-fiveth-section {
    margin-top: 100px;
  }
  .hp-fiveth-section .heading h2 {
    width: 90%;
    font-size: 40px;
    line-height: 50px;
  }
  .hp-fiveth-section .heading p {
    font-size: 18px;
    width: 100%;
    line-height: 30px;
    margin-top: 20px;
    color: #ececec;
  }
  .hp-fiveth-section .steps-all {
    gap: 40px;
    padding: 20px 00px;
  }
  .hp-fiveth-section .steps {
    padding: 17px;
  }
  .hp-fiveth-section .steps .step-tag {
    padding: 7px 20px;
  }
  .hp-fiveth-section .steps .s-content {
    margin-left: 140px;
    margin-top: 4px;
  }
  .hp-fiveth-section .steps .s-content .c-heading {
    font-size: 19px;
  }
  .hp-fiveth-section .steps .s-content .c-sub-heading {
    max-width: 90%;
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 30px;
  }

  /* sixeth Section start */
  .hp-sixth-section .partner-box {
    width: 220px;
    height: 110px;
    border-radius: 20px;
    background-color: white;
    flex-shrink: 0;
  }
  .hp-sixth-section {
    height: auto;
    padding: 40px 0px 80px 0px;
  }
  .hp-sixth-section .partner-tag {
    padding: 12px 25px;
    margin-top: 0px;
  }
  .hp-sixth-section .partner-box-all {
    margin-top: 70px;
  }
}
@media screen and (max-width: 600px) {
  /* .homepage-overall-container {
    width: 100%;
    padding: 0px 3.5rem;
  } */
  .hp-first-section {
    padding: 0px 3.5rem;
    padding-top: 120px;
    padding-bottom: 5rem;
    overflow: hidden;
  }
  .hp-third-section,
  .hp-second-section,
  .hp-third-section,
  .hp-fourth-section,
  .hp-seventh-section,
  .hp-fiveth-section {
    padding: 0rem 3.5rem;
  }
   
  .hp-first-section h1 {
    font-size: 45px;
    width: 100%;
  }
  .hp-first-section p {
    padding: 35px 0px;
    font-size: 20px;
  }

  .secondsec-right .all-service {
    gap: 50px;
    padding-bottom: 70px;
  }
  .hp-second-section .secondsec-right .heading-tag {
    font-size: 30px;
    line-height: 60px;
    padding: 0px 0px;
  }
  .service-card {
    height: auto;
  }
  .service-card .service-content .heading .circle-logo {
    height: 50px;
    width: 50px;
  }
  .service-card .service-content .heading h2 {
    font-size: 23px;
    font-weight: 700;
  }
  .service-card .service-content .sub-heading {
    font-size: 17px;
  }
  .service-card .service-content .type-p {
    font-size: 17px;
  }
  .service-content .benefits div p {
    font-size: 18px;
  }
  .service-content .benefits div .check-logo {
    font-size: 20px;
  }
  .service-content .price-duration .price {
    font-size: 17px;
  }
  .service-content .duration {
    font-size: 17px;
  }

  .hp-fourth-section .client-boxall {
    margin-top: 50px;
    padding: 0;
    padding-bottom: 10px;
  }
  .hp-fourth-section .boxs {
    padding: 30px;
    max-width: 100%;
  }

   .hp-fiveth-section .heading h2 {
    width: 100%;
    font-size: 35px;
    line-height: 45px;
  }
   .hp-fiveth-section .heading p {
    font-size: 17px;
    width: 100%;
    line-height: 30px;
  }
  .hp-fiveth-section .steps .s-content {
    margin-left: 120px;
  }
  .hp-fiveth-section .steps .s-content .c-heading {
    font-size: 17px;
  }
  .hp-fiveth-section .steps .step-tag {
    padding: 6px 17px;
  }
  .hp-fiveth-section .steps .s-content .c-sub-heading {
    max-width: 90%;
    letter-spacing: 0.5px;
    font-size: 15px;
    line-height: 30px;
  }
  .hp-fiveth-section .steps .down-arrow-icon {
    font-size: 25px;
    margin-right: 0px;
  }
  .hp-sixth-section {
    margin-top: 110px;
    padding: 40px 0px 70px 0px;
  }
  .hp-sixth-section .partner-box {
    width: 190px;
    height: 90px;
  }
  .hp-sixth-section .partner-tag {
    padding: 12px 20px;
    margin-top: 0px;
  }
  .hp-sixth-section .partner-box-all {
    margin-top: 60px;
  }
}
@media screen and (max-width: 500px) {

  .hp-third-section,
  .hp-second-section,
  .hp-third-section,
  .hp-fourth-section,
  .hp-seventh-section,
  .hp-fiveth-section {
    padding: 0rem 2rem;
  }
  .hp-first-section {
    padding: 0px 2rem;
    padding-top: 120px;
    padding-bottom: 5rem;
    overflow: hidden;
  }

  .hp-first-section h1 {
    font-size: 40px;
  }

  .hp-first-section p {
    padding: 28px 0px;
    font-size: 18px;
  }
  .hp-first-section .btn {
  gap: 30px;
  margin-top: 0px;
}
  .hp-first-section .btn .explore-btn {
    font-size: 18px;
  }
  .hp-first-section .btn .get-free-btn {
    font-size: 18px;
  }
  .hp-second-section {
    margin-top: 100px;
  }
  .hp-second-section .secondsec-right .heading-tag {
    font-size: 28px;
    line-height: 53px;
    padding: 0px 0px;
  }
  .secondsec-right .all-service {
    gap: 30px;
    padding-bottom: 70px;
    margin-top: 20px;
  }
  .service-card {
    padding: 40px 35px;
  }
  .service-card .service-content .heading h2 {
    font-size: 21px;
    font-weight: 700;
  }
  .service-card .service-content .heading .circle-logo {
    height: 40px;
    width: 40px;
  }
  .service-card .service-content .sub-heading {
    font-size: 16px;
  }
  .service-card .service-content .type-p {
    font-size: 16px;
  }
  .service-content .benefits div p {
    font-size: 17px;
  }

  .service-content .benefits div .check-logo {
    font-size: 19px;
  }
  .service-content .price-duration .price {
    font-size: 16px;
  }
  .service-content .duration {
    font-size: 16px;
  }
  .service-card .service-content .heading {
    gap: 15px;
  }
  .service-card .service-content .sub-heading {
    color: #d1d1d1;
    padding: 25px 5px;
    padding-bottom: 0px;
  }
  .service-card .service-content .type-p {
    padding: 25px 5px;
    padding-bottom: 0px;
  }
  .service-content .benefits {
    padding: 25px 0px;
    padding-bottom: 0px;
  }
  .service-content .price-duration {
    padding: 25px 0px;
    padding-bottom: 0px;
  }

  .hp-fourth-section .heading {
    gap: 30px;
  }
  .hp-fourth-section .heading .sub-heading {
    font-size: 16px;
  }
  .hp-fourth-section .boxs .profile .logo {
    width: 50px;
    height: 50px;
  }
  .hp-fourth-section .boxs .profile .p-heading {
    font-size: 19px;
  }
  .hp-fourth-section .boxs .profile .p-sub-heading {
    font-size: 15.5px;
    font-weight: 300;
  }
  .hp-fourth-section .boxs .para-descrip {
    font-size: 13px;
    line-height: 20px;
  }
  .custom-pagination {
    margin-top: 40px;
  }

.hp-fiveth-section .heading h2 {
    width: 98%;
    font-size: 30px;
    line-height: 40px;
  }
  .hp-fiveth-section .heading p {
    font-size: 16px;
    width: 100%;
    line-height: 25px;
  }
  .hp-fiveth-section .steps-all {
    gap: 35px;
    padding: 50px 0px;
  }
  .hp-fiveth-section .steps {
    padding: 12px;
  }
  .hp-fiveth-section .steps .step-tag {
    padding: 7px 15px;
    font-size: 15px;
    top: 8px;
    border-radius: 7px;
  }
  .hp-fiveth-section .steps .s-content .c-heading {
    font-size: 14px;
  }
  .hp-fiveth-section .steps .s-content {
    margin-left: 95px;
  }
  .hp-fiveth-section .steps .s-content .c-sub-heading {
    max-width: 90%;
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 25px;
  }
  .hp-fiveth-section .steps .down-arrow-icon {
    font-size: 24px;
    margin-right: 0px;
  }
  .hp-sixth-section {
    margin-top: 110px;

    padding: 35px 0px 60px 0px;
  }
  .hp-sixth-section .partner-box {
    width: 150px;
    height: 75px;
    border-radius: 15px;
  }
  .hp-sixth-section .partner-box-all {
    gap: 50px;
    margin-top: 50px;
  }
  .hp-sixth-section .partner-tag {
    padding: 12px 18px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .secondsec-right .all-service {
    gap: 20px;
    padding-bottom: 70px;
    margin-top: 20px;
  }
  .service-card {
    padding: 40px 35px;
  }
  .service-card .service-content .heading h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .service-card .service-content .sub-heading {
    font-size: 15px;
  }
  .service-card .service-content .type-p {
    font-size: 15px;
  }
  .service-content .benefits div p {
    font-size: 16px;
  }
  .service-content .benefits div .check-logo {
    font-size: 18px;
  }
  .service-card .service-content .heading {
    gap: 10px;
  }
  .service-card .service-content .sub-heading {
    padding: 20px 5px;
    padding-bottom: 0px;
  }
  .service-card .service-content .type-p {
    padding: 20px 5px;
    padding-bottom: 0px;
  }
  .service-content .benefits {
    padding: 20px 0px;
    padding-bottom: 0px;
  }
  .service-content .price-duration {
    padding: 20px 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 432px) {
  .hp-third-section,
  .hp-second-section,
  .hp-third-section,
  .hp-fourth-section,
  .hp-seventh-section,
  .hp-fiveth-section {
    padding: 0rem 1.5rem;
  }
    .hp-first-section {
    padding: 0px 1.5rem;
    padding-top: 120px;
    padding-bottom: 5rem;
    overflow: hidden;
  }
  .hp-first-section h1 {
    font-size: 42px;
  }

  .hp-first-section p {
    padding: 30px 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .hp-first-section .btn {
    margin-top: 25px;
    gap: 40px;
  }
  .hp-first-section .btn .explore-btn {
    font-size: 18px;
    padding: 15px 25px;
  }
  /* .hp-first-section .btn .get-free-btn 
        {
          font-size: 15px;
        } */
  .hp-first-section {
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }
  .hp-second-section {
    margin-top: 80px;
  }
  .hp-second-section .secondsec-right .heading-tag {
    font-size: 25px;
    line-height: 50px;
    padding: 0px 0px;
  }
  .secondsec-right .all-service {
    gap: 10px;
    padding-bottom: 70px;
    margin-top: 0px;
  }
  .service-card {
    padding: 30px 30px;
  }
  .service-card .service-content .heading h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .service-card .service-content .sub-heading {
    font-size: 13px;
  }
  .service-card .service-content .type-p {
    font-size: 13px;
  }
  .service-content .benefits div p {
    font-size: 13.5px;
  }
  .service-content .benefits div .check-logo {
    font-size: 15px;
  }
  .service-content .price-duration {
    padding: 20px 0px;
    padding-bottom: 0px;
  }
  .service-content .price-duration .price {
    font-size: 13px;
  }
  .service-content .duration {
    font-size: 13px;
  }

  .hp-fourth-section .boxs {
    padding: 20px;
    max-width: 100%;
  }
  .hp-fourth-section .heading {
    gap: 30px;
  }
  .hp-fourth-section .heading .sub-heading {
    font-size: 15px;
  }
  .hp-fourth-section .boxs .profile .logo {
    width: 40px;
    height: 40px;
  }
  .hp-fourth-section .boxs .profile .p-heading {
    font-size: 16px;
  }
  .hp-fourth-section .boxs .profile .p-sub-heading {
    font-size: 13px;
    font-weight: 300;
  }
  .hp-fourth-section .boxs .para-descrip {
    font-size: 12px;
    line-height: 20px;
  }
  .custom-pagination {
    margin-top: 30px;
  }

  .hp-fiveth-section .heading {
    max-width: 100%;
    font-size: 25px;
  }
  .hp-fiveth-section .steps .s-content {
    margin-left: 85px;
    gap: 10px;
  }
  .hp-fiveth-section .steps .s-content .c-heading {
    font-size: 13px;
  }
  .hp-fiveth-section .steps-all {
    gap: 35px;
    padding: 40px 0px;
  }
  .hp-fiveth-section .steps {
    padding: 10px;
  }

  .hp-fiveth-section .steps .down-arrow-icon {
    font-size: 20px;
    margin-right: 0px;
  }
  .hp-fiveth-section .steps .step-tag {
    padding: 5px 15px;
    font-size: 13px;
    top: 8px;
    border-radius: 7px;
  }
  .hp-fiveth-section .steps .s-content .c-sub-heading {
    max-width: 100%;
    letter-spacing: 0.2px;
    font-size: 12px;
    line-height: 22px;
  }
  .hp-fiveth-section .steps.expanded {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 380px) {
  .hp-first-section {
    padding-bottom: 100px;
  }

  .hp-first-section h1 {
    font-size: 40px;
    width: 100%;
  }
  .hp-first-section p {
    padding: 30px 0px;
    font-size: 17px;
    line-height: 25px;
  }
  .hp-first-section .btn {
    margin-top: 25px;
    gap: 40px;
  }
  .hp-first-section .btn .explore-btn {
    font-size: 18px;
    padding: 15px 25px;
  }
  .hp-first-section .btn .get-free-btn {
    font-size: 15px;
  }
  .hp-first-section {
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }
  .hp-second-section {
    margin-top: 70px;
  }
  .hp-second-section .secondsec-right .heading-tag {
    font-size: 20px;
    line-height: 40px;
    padding: 0px 0px;
  }

  .service-card {
    padding: 26px 26px;
  }
  .service-card .service-content .heading h2 {
    font-size: 16px;
  }
  .service-card .service-content .sub-heading {
    font-size: 12px;
  }
  .service-card .service-content .type-p {
    font-size: 12px;
  }
  .service-content .benefits div p {
    font-size: 13px;
  }
  .service-content .benefits div .check-logo {
    font-size: 14px;
  }
  .service-content .price-duration {
    padding: 20px 0px;
    padding-bottom: 0px;
    gap: 20px;
  }
  .service-content .price-duration .price {
    font-size: 12px;
    padding: 11px 12px;
  }
  .service-content .duration {
    font-size: 12px;
  }

  .hp-fourth-section .boxs {
    padding: 20px;
    max-width: 100%;
  }
  .hp-fourth-section .heading {
    gap: 25px;
  }
  .hp-fourth-section .heading .sub-heading {
    font-size: 13px;
  }
  .hp-fourth-section .boxs .profile .logo {
    width: 40px;
    height: 40px;
  }
  .hp-fourth-section .boxs .profile .p-heading {
    font-size: 16px;
  }
  .hp-fourth-section .boxs .profile .p-sub-heading {
    font-size: 13px;
    font-weight: 300;
  }
  .hp-fourth-section .boxs .stars {
    font-size: 18px;
  }
  .hp-fourth-section .boxs .para-descrip {
    font-size: 12px;
    line-height: 20px;
  }
  .custom-pagination {
    margin-top: 20px;
  }

  .hp-fiveth-section .heading {
    max-width: 90%;
    font-size: 23px;
  }
  .hp-fiveth-section .steps .s-content {
    margin-left: 85px;
    gap: 10px;
  }
  .hp-fiveth-section .steps .s-content .c-heading {
    font-size: 12px;
  }
  .hp-fiveth-section .steps-all {
    gap: 30px;
    padding: 35px 0px;
  }
  .hp-fiveth-section .steps {
    padding: 9px;
  }

  .hp-fiveth-section .steps .down-arrow-icon {
    font-size: 18px;
    margin-right: 0px;
  }
  .hp-fiveth-section .steps .step-tag {
    padding: 5px 15px;
    font-size: 13px;
    top: 6px;
    border-radius: 7px;
  }
  .hp-fiveth-section .steps .s-content .c-sub-heading {
    max-width: 100%;
    letter-spacing: 0.2px;
    font-size: 11px;
    line-height: 22px;
  }
  .hp-fiveth-section .steps.expanded {
    padding-bottom: 20px;
  }

  .hp-sixth-section {
    margin-top: 60px;
    padding: 30px 0px 50px 0px;
  }
  .hp-sixth-section .partner-box {
    width: 140px;
    height: 70px;
    border-radius: 12px;
  }
  .hp-sixth-section .partner-box-all {
    gap: 30px;
    margin-top: 40px;
  }
  .hp-sixth-section .partner-tag {
    padding: 11px 16px;
    margin-top: 0px;
  }
}
